// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import "assets/css/good-media.scss";
@import "assets/css/good-breakpoints.scss";

$primary   : #E31F26;
$secondary : #213342;
$bg        : #f3f3f3;

$dark      : #212121;
$light     : #7798B5;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

:root {
  --primary   : #E31F26;
  --secondary : #213342;
  --bg        : #f3f3f3;

  --dark      : #212121;
  --light     : #7798B5;

  --positive  : #21BA45;
  --negative  : #C10015;
  --info      : #31CCEC;
  --warning   : #F2C037;
}
